@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-canvas: #fafafa;
  --color-accent-50: #f0fdf4;
  --color-accent-100: #dcfce7;
  --color-accent-200: #bbf7d0;
  --color-accent-500: #22c55e;
  --color-accent-600: #16a34a;
  --color-accent-700: #15803d;
  --color-accent-900: #14532d;
}

body {
  background-color: var(--color-canvas);
}
